html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Hind', sans-serif;;
  background-color: #272727;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
    color: #FFB015;
    margin: 0 auto;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #FF900E; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 54px auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
