.parent {
    position: relative;
    height: 90vh;
}

.container {
    margin: 0 auto;
    height: 200px;
    width: 350px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4B4B4B;
    position: absolute;
}

.header {
    margin: 0;
    color: #FFB015;
    position: absolute;
    top: 20px;
}

.input {
    width: 100%;
    height: 30px;
    border-radius: 7px;
    border: none;
    padding: 0 10px;
    color: white;
    background: #272727; 
    margin: 20px 0;
}

.input::placeholder {
    color: #FFFFFFCC;
    font-family: "Hind";
}

.button {
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.wrapper {
    width: 75%;
    text-align: right;
    transform: translateY(15px);
}


