.navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}

.logout {
    height: 35px;
    width: 100px;
    border-radius: 7px;
    border: none;
    padding-top: 2px;
    background: #4B4B4B;
    color: #FFB015;
    font-size: 16px;
    font-family: "Hind";
    cursor: pointer;
    transition: 0.2s;
}

.logout:hover {
    background-color: #FFB015;
    color: #272727;
}

.logo {
    cursor: pointer;
}
