.container {
    background-color: #4B4B4B;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s all;
}

.container:hover {
    background-color: #FF900E;
}

.container svg {
    height: 25px;
    width: 25px;
    transform: translateY(-2px);
    fill: #FF900E;
    transition: 0.2s all;
}

.container:hover > svg {
    fill: #4B4B4B;
}

.input {
    height: 100%;
    width: 100%;
}




